<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>MoneyBook</title>
  <style>
  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #E6E6E6;
  }

  #app {
    height: 100%;
    margin: 1.5rem 0;
    padding: 0;
  }

  .title {
    text-align: center;
  }
  
  .message:not(:last-child) {
    margin-bottom: 0;
  }
  
  .message-body {
    font-weight: 600;
  }

  .button {
    float: right;
  }

  .income {
    color: green;
  }

  .outcome {
    color: red;
  }

  .table td {
    padding: .6em .6em;
  }
  </style>
</head>
<body>
  <div class="columns is-mobile" id="app">
    <div class="column is-10 is-offset-1">
      <!--title-->
      <p class="title is-2 is-spaced">Your Records</p>
      <!--input form-->
      <div class="field has-addons">
        <p class="control">
          <span class="select">
            <select v-model="insertForm.type">
              <option value="income">+</option>
              <option value="outcome">-</option>
            </select>
          </span>
        </p>
        <p class="control">
          <input class="input" type="number" v-model="insertForm.amount" placeholder="Amount" min="1">
        </p>
        <p class="control is-expanded">
          <input class="input" type="text" v-model="insertForm.description" placeholder="Description">
        </p>
        <p class="control">
          <button class="button is-primary" @click="insertRecord">Save</button>
        </p>
      </div>

      <!--dashboard-->
      <div class="columns">
        <div class="column">
          <article class="message is-success">
            <div class="message-header">
              <p>Income</p>
            </div>
            <div class="message-body">
              {{ sumOfIncome }}
            </div>
          </article>
        </div>
        <div class="column">
          <article class="message is-danger">
            <div class="message-header">
              <p>Outcome</p>
            </div>
            <div class="message-body">
              {{ sumOfOutcome }}
            </div>
          </article>
        </div>
        <div class="column">
          <article class="message is-info">
            <div class="message-header">
              <p>Total</p>
            </div>
            <div class="message-body">
              {{ totalAmount }}
            </div>
          </article>
        </div>
      </div>

      <!--contents-->
      <table class="table">
        <thead>
          <tr>
            <th>Record Time</th>
            <th>Amount</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(record, index) in allRecords">
            <record-row v-if="!record.isEditMode"
              @toggle-edit="toggleEditModeOf(index)"
              @delete-record="deleteRecord(index)"
              :record="record"></record-row>
            <update-row v-else
              @toggle-edit="toggleEditModeOf(index)"
              :record="record" :form="updateForm"
              @form-update="form => { updateForm = form }"
              @update-record="updateRecord"></update-row>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    class Form {
      constructor(data) {
        this.originalData = data;
        
        for (let field in data) {
          this[field] = data[field];
        }

        delete this.originalData.type;
      }

      data() {
        let data = {};

        if (this.type !== 'income') {
          this.amount = this.amount * -1;
        }

        for (let field in this.originalData) {
          data[field] = this[field];
        }

        return data;
      }

      create() {
        let data = { record: this.data() };
        let token = localStorage.getItem('auth_token');

        axios({
          method: 'post',
          url: 'http://localhost:2300/api/records',
          data: data,
          headers: { 'Authorization': `Bearer ${token}` }
        })
        .then(response => {
          app.records.push(response.data);
        })
        .catch(error => {
          console.log(error.response.data);
        });
      }

      update() {
        let record_id = this.id;
        let data = { record: this.data() };
        let token = localStorage.getItem('auth_token');

        axios({
          method: 'patch',
          url: `http://localhost:2300/api/records/${record_id}`,
          data: data,
          headers: { 'Authorization': `Bearer ${token}` }
        }).then(response => {
          let index = app.records.findIndex(record => {
            return record.id === response.data.id;
          });

          app.records.splice(index, 1, response.data);
        })
        .catch(error => {
          console.log(error.response.data);
        })
      }
    }

    const RecordRow = {
      props: ['record'],

      template: `
        <tr>
          <td>{{ record.created_at }}</td>
          <td :class="{
            income: record.amount > 0,
            outcome: record.amount < 0
          }">
            {{ record.amount | setSign }}
          </td>
          <td>{{ record.description }}</td>
          <td>
            <button class="button is-danger" @click="deleteRecord">Delete</button>
            <button class="button is-light" @click="toggleEdit">Edit</button>
          </td>
        </tr>
      `,

      filters: {
        setSign(value) {
          return value > 0 ? "+" + value : value;
        }
      },

      methods: {
        toggleEdit() {
          this.$emit('toggle-edit');
        },

        deleteRecord() {
          this.$emit('delete-record');
        }
      }
    };

    const UpdateRow = {
      props: ['record', 'form'],

      template: `
        <tr>
          <input type="hidden" :record_id="record.id" />
          <td>{{ record.created_at }}</td>
          <td>
            <input class="input" type="number" :value="record.amount"
                   @input="updateFormValue('amount', $event.target.value)" />
          </td>
          <td>
            <input class="input" type="text" :value="record.description"
                   @input="updateFormValue('description', $event.target.value)" />
          </td>
          <td>
            <button class="button is-danger" @click="toggleEdit">Cancel</button>
            <button class="button is-light" @click="updateRecord">Update</button>
          </td>
        </tr>
      `,

      computed: {
        editForm() {
          let form = this.form;

          for (let field in this.record) {
            form[field] = this.record[field];
          }

          return form;
        }
      },

      methods: {
        toggleEdit() {
          this.$emit('toggle-edit');
        },

        updateFormValue(field, value) {
          this.editForm[field] = value;

          this.$emit('form-update', this.editForm);
        },

        updateRecord() {
          this.$emit('update-record');
        }
      }
    }

    const app = new Vue({
      el: '#app',

      data: {
        records: [],
        insertForm: new Form({
          type: 'income',
          amount: '',
          description: ''
        }),
        updateForm: new Form({
          type: 'income',
          id: '',
          amount: '',
          description: ''
        })
      },

      computed: {
        allRecords() {
          return this.records.sort((prevRecord, nextRecord) => {
            return nextRecord.id - prevRecord.id;
          }).map(record => {
            let createdAt = record.created_at.replace(/\sUTC$/, '');
            let localCreatedAt = moment.utc(createdAt).local().format('YYYY-MM-DD HH:mm:ss');

            return {
              id: record.id,
              amount: record.amount,
              description: record.description,
              created_at: localCreatedAt,
              isEditMode: record.isEditMode
            }
          });
        },

        sumOfIncome() {
          return "+" + this.records.filter(record => {
            return record.amount > 0;
          }).reduce((sum, income) => {
            return sum + income.amount;
          }, 0);
        },

        sumOfOutcome() {
          return this.records.filter(record => {
            return record.amount < 0;
          }).reduce((sum, outcome) => {
            return sum + outcome.amount;
          }, 0);
        },

        totalAmount() {
          return this.records.reduce((sum, record) => {
            return sum + record.amount;
          }, 0);
        }
      },

      created() {
        let token = localStorage.getItem('auth_token');

        if (!token) {
          location.href = './login.html';
        }

        this.fetchData(token);
      },

      methods: {
        fetchData(token) {
          axios({
            method: 'get',
            url: 'http://localhost:2300/api/records',
            headers: { 'Authorization': `Bearer ${token}` }
          })
          .then(response => {
            this.records = response.data.records.map(record =>{
              return Object.assign(record, { isEditMode: false });
            });
          })
          .catch(error => {
            if (error.response.status === 401) {
              localStorage.removeItem('auth_token');
              location.href = './login.html';
            }

            console.log(error.response.data);
          });
        },

        insertRecord() {
          this.insertForm.create();
        },

        updateRecord() {
          this.updateForm.update();
        },

        deleteRecord(index) {
          let record_id = this.records[index].id;
          let token = localStorage.getItem('auth_token');
          
          axios({
            method: 'delete',
            url: `http://localhost:2300/api/records/${record_id}`,
            headers: { 'Authorization': `Bearer ${token}` }
          })
          .then(response => {
            this.records.splice(index, 1);
          })
          .catch(error => {
            console.log(error.response.data);
          });
        },

        toggleEditModeOf(index) {
          let target_record = this.records[index];
          this.records.splice(index, 1,
            Object.assign(target_record, {
              isEditMode: !target_record.isEditMode
            }));
        }
      },

      components: {
        'record-row': RecordRow,
        'update-row': UpdateRow
      }
    });
  </script>
</body>
</html>