<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>MoneyBook</title>
  <style>
  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #E6E6E6;
  }

  #app {
    height: 100%;
    margin: 1.5rem 0;
    padding: 0;
  }

  .title {
    text-align: center;
  }
  
  .message:not(:last-child) {
    margin-bottom: 0;
  }
  
  .message-body {
    font-weight: 600;
  }

  .button {
    float: right;
  }

  .income {
    color: green;
  }

  .outcome {
    color: red;
  }
  </style>
</head>
<body>
  <div class="columns is-mobile" id="app">
    <div class="column is-10 is-offset-1">
      <!--title-->
      <p class="title is-2 is-spaced">Your Records</p>
      <!--input form-->
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="number" v-model="insertForm.amount" placeholder="Amount">
        </p>
        <p class="control is-expanded">
          <input class="input" type="text" v-model="insertForm.description" placeholder="Description">
        </p>
        <p class="control">
          <button class="button is-primary" @click="insertRecord">Save</button>
        </p>
      </div>

      <!--dashboard-->
      <div class="columns">
        <div class="column">
          <article class="message is-success">
            <div class="message-header">
              <p>Income</p>
            </div>
            <div class="message-body">
              {{ sumOfIncome }}
            </div>
          </article>
        </div>
        <div class="column">
          <article class="message is-danger">
            <div class="message-header">
              <p>Outcome</p>
            </div>
            <div class="message-body">
              {{ sumOfOutcome }}
            </div>
          </article>
        </div>
        <div class="column">
          <article class="message is-info">
            <div class="message-header">
              <p>Total</p>
            </div>
            <div class="message-body">
              {{ totalAmount }}
            </div>
          </article>
        </div>
      </div>

      <!--contents-->
      <table class="table">
        <thead>
          <tr>
            <th>Record Time</th>
            <th>Amount</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <template v-for="record in allRecords">
            <record-row :record="record"></record-row>
          </template>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    class Form {
      constructor(data) {
        this.originalData = data;
        
        for (let field in data) {
          this[field] = data[field];
        }
      }

      data() {
        let data = {};
        
        for (let field in this.originalData) {
          data[field] = this[field];
        }

        return data;
      }

      create() {
        let data = { record: this.data() };
        let token = localStorage.getItem('auth_token');

        axios({
          method: 'post',
          url: 'http://localhost:2300/api/records',
          data: data,
          headers: { 'Authorization': `Bearer ${token}` }
        })
        .then(response => {
          app.records.push(response.data);
        })
        .catch(error => {
          console.log(error.response.data);
        });
      }
    }

    const RecordRow = {
      props: ['record'],
      template: `
        <tr>
          <input type="hidden" name="record_id" :value="record.id">
          <td>{{ record.created_at }}</td>
          <td :class="{
            income: record.amount > 0,
            outcome: record.amount < 0
          }">
            {{ record.amount }}
          </td>
          <td>{{ record.description }}</td>
          <td>
            <button class="button is-danger">Delete</button>
            <button class="button is-light">Edit</button>
          </td>
        </tr>
      `
    };

    const app = new Vue({
      el: '#app',

      data: {
        records: [],
        insertForm: new Form({
          amount: '',
          description: ''
        }),
      },

      computed: {
        allRecords() {
          return this.records.sort((prevRecord, nextRecord) => {
            return nextRecord.id - prevRecord.id;
          }).map(record => {
            let createdAt = record.created_at.replace(/\sUTC$/, '');
            let localCreatedAt = moment.utc(createdAt).local().format('YYYY-MM-DD HH:mm:ss');

            return {
              id: record.id,
              amount: record.amount,
              description: record.description,
              created_at: localCreatedAt
            }
          });
        },

        sumOfIncome() {
          return this.records.filter(record => {
            return record.amount > 0;
          }).reduce((sum, income) => {
            return sum + income.amount;
          }, 0);
        },

        sumOfOutcome() {
          return this.records.filter(record => {
            return record.amount < 0;
          }).reduce((sum, outcome) => {
            return sum + outcome.amount;
          }, 0);
        },

        totalAmount() {
          return this.records.reduce((sum, record) => {
            return sum + record.amount;
          }, 0);
        }
      },

      created() {
        let token = localStorage.getItem('auth_token');

        if (!token) {
          location.href = './login.html';
        }

        this.fetchData(token);
      },

      methods: {
        fetchData(token) {
          axios({
            method: 'get',
            url: 'http://localhost:2300/api/records',
            headers: { 'Authorization': `Bearer ${token}` }
          })
          .then(response => {
            this.records = response.data.records;
          })
          .catch(error => {
            if (error.response.status === 401) {
              localStorage.removeItem('auth_token');
              location.href = './login.html';
            }

            console.log(error.response.data);
          });
        },

        insertRecord() {
          this.insertForm.create();
        },
      },

      components: {
        'record-row': RecordRow,
      }
    });
  </script>
</body>
</html>