<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.5.0/sha256.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>MoneyBook</title>

  <style>
    html, body {
      height: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }


    #app {
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #E6E6E6;
    }

    #app .column {
      margin-top: 10%;
    }

    #app .column > p {
      text-align: center;
    }

    #sign-in-button {
      float: right;
    }
  </style>
</head>
<body>
  <!--main container-->
  <div class="columns is-mobile" id="app">
    <!--centered column-->
    <div class="column is-half is-offset-one-quarter">

      <p class="title is-2 is-spaced">MoneyBook</p>

      <!--login form-->
      <div class="box">
        <form>
          <!--email input-->
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Email" v-model="form.email">
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </p>
          </div>

          <!--password input-->
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Password" v-model="form.password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock"></i>
              </span>
            </p>
          </div>

          <!--password confirmation-->
          <template v-if="isSignIn">
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password Confirmation" v-model="form.password_confirmation">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
            </div>
          </template>

          <!--buttons-->
          <div class="field">
            <template v-if="!isSignIn">
              <p class="control">
                <button class="button is-success" id="log-in-button">
                  Login
                </button>
                <button class="button is-info" id="sign-in-button" @click.prevent="toggleSignIn">
                  Sign up
                </button>
              </p>
            </template>
            <template v-else>
              <p class="control">
                <button class="button is-success" id="log-in-button">
                  Submit
                </button>
                <button class="button is-light" id="sign-in-button" @click.prevent="toggleSignIn">
                  Back
                </button>
              </p>
            </template>
          </div>
        </form>

      </div>
      <!--end of form-->

    </div>
    <!--end of column-->
  </div>
  <!--end of container-->

  <script>
    class Form {
      constructor(data) {
        this.originalData = data;

        for (let field in data) {
          this[field] = data[field];
        }
      }

      data() {
        let data = {};

        for (let field in this.originalData) {
          if (field.match(/^password/) && data[field] !== '') {
            data[field] = sha256(`moneybook:${this[field]}`);
          } else {
            data[field] = this[field];
          }
        }

        return data;
      }

      reset() {
        for (let field in this.originalData) {
          this[field] = '';
        }
      }
    }

    const app = new Vue({
      el: '#app',

      data: {
        isSignIn: false,
        form: new Form({
          email: '',
          password: '',
          password_confirmation: ''
        })
      },

      methods: {
        toggleSignIn() {
          this.isSignIn = !this.isSignIn;
          this.form.reset();
        }
      }
    });

  </script>
</body>
</html>